name: unit-test
on: 
  push:
    branches:
      - '*'     

    paths:
      - telecom_user/*

  workflow_dispatch:
   
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - uses: actions/setup-python@v5
          name: Setup Python
          with:
            python-version: '3.13'  
        - name: Install pip
          run: |
            python -m pip install --upgrade pip
        - name: Check for requirements.txt
          run: |
            if [ ! -f telecom_user/requirements.txt ]; then
              echo "requirements.txt not found!"
              exit 1
            fi 
        - name: Install dependencies
          run: pip install -r telecom_user/requirements.txt
        
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Install Docker Compose
          run: |
            sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
            docker-compose --version

        - name: Start Docker Compose
          run: |
            docker-compose  --env-file telecom_user/.env.example -f telecom_user/docker-compose.dev.yml up -d          
  
        - name: Wait for PostgreSQL
          run: |
            until docker-compose -f telecom_user/docker-compose.dev.yml --env-file telecom_user/.env.example exec -T postgres pg_isready; do
              echo "Waiting for PostgreSQL..."
              sleep 2
            done
  
        - name: Seed
          run: |
            python telecom_user/seed/migration.py

        - name: Test with Pytest
          
          run: |
            set -a
            source telecom_user/.env.example
            set +a
            
            echo "Loaded environment variables:"
            env | grep POSTGRES_  
                      
            pytest